@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>MIS4200</h2>
    <p>This is a sample site for MIS4200</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Class </h2>
        <p>
            This class is an intro to MVC development using Scrum.
        </p>

    </div>
    <div class="col-md-4">
        <h2>MVC</h2>
        <p>MVC is Model-View-Controller</p>
    </div>
    <div class="col-md-4">
        <h2>Git/GitHub</h2>
        <p>The class will also introduce git and GitHub for source control.</p>
    </div>
</div>